/*naslov o nama css*/

.onama-text {
    position: relative;
    transition: transform 0.2s;
    text-align: center;
    padding-top: 90px;
    margin-left: 500px;
    margin-right: 500px;
    color: #F7F5EB;
    z-index: 1;
    font-size: 60px;
    margin-bottom: -100px;
  }

  .onama-text:after {
    content: "";
    position: absolute;
    margin-top: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    border-radius: 70% 25% 70% 25%;
    background-color: rgba(255, 249, 215, 0);
    transition: all 0.5s;
    z-index: -1;

  }

  .onama-text:hover:after {
    width: 100%;
    margin-top: 50px;
    background: #eacda3;  
  }

  .onama-text:hover {
    transform: scale(1.1);

  }

  .naslov{
    font-family: 'Itim';
    color: white;
    font-size: 30px;
    padding-top: -20px;
    text-align: center;

  }

  .tekst{
    font-family: 'Itim';
    color: white;
    margin-top: -50px;
    font-size: 28px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 30px;
  }

  .kontejner{
    background: #eacda3;  
    margin: 150px;
    padding-top: 0;
    border-radius: 50px;
  }

  .onama{
    background: #D7A86E;  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
  }
