/*za dodatne dugmice kopiraj*/


.dugme-kopiranje {
    color: white; 
    text-align: right;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #D7A86E;
    border: #f1f1f1;
    border-bottom: 2px;
    position: relative;
  }

  .dugme-kopiranje:hover{
    cursor: pointer;
  }

  .kontejnerCopy{ 
    text-align: right;
    display:-ms-inline-grid;
    background: #A64B2A;  
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: -20px;
    border-radius: 0%;
  }

  body::-webkit-scrollbar {
    width: 10px;
    background: #A64B2A;  
  }

  body::-webkit-scrollbar-thumb {
    background-color: #D7A86E;
    border-radius: 10px;
  }